<h1>My tasks:</h1>


<% @tasks.each do |task| %>
  <% if task.completed? %>
    <p>
      <i class="far fa-check-square"></i>
      <%= link_to task.title, task_path(task.id) %>
    </p>
  <% else %>
    <p>
      <i class="far fa-square"></i>
      <%= link_to task.title, task_path(task.id) %>
    </p>
  <% end %>
  <%= link_to " - Delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure you want to delete #{task.title}?"} %>
<% end %>

<p><%= link_to "Create a new task", tasks_new_path %></p>
